<li>
  <h4>{{plant.name}}</h4>
  {{planting.plantingType}}:  
  {{if planting.startIndoors 'Start Seed Indoors:' 'Plant in Ground:'}} 
  {{moment-format planting.plantingDateBegin 'MMMM D'}} - {{moment-format planting.plantingDateEnd 'MMMM D'}} 
  Harvest In Days: {{ planting.daysToHarvestFrom }}{{if planting.daysToHarvestTo '-' }}{{ planting.daysToHarvestTo }} 
  Distance Between: {{ plant.distanceBetweenFrom }} {{if plant.distanceBetweenTo '-' }} {{ plant.distanceBetweenTo }} in
  <br/>
  
</li>
