<li>
  <strong>
    <!-- {{moment-format planting.plantingDateBegin 'MMMM D'}} : --> {{plant.name}}</strong>
  <br/>
  {{planting.plantingType}} {{if planting.startIndoors 'Start Indoors:' 'Plant in Ground:'}} 
   {{moment-format planting.plantingDateBegin 'MMMM D'}} - {{moment-format planting.plantingDateEnd 'MMMM D'}} HARVEST (days): {{ planting.daysToHarvestFrom }} - {{ planting.daysToHarvestTo }} Distance Between: {{ plant.distanceBetweenFrom }} - {{ plant.distanceBetweenTo }}
  <br/>
  
</li>
